.container {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas: 'infoLeft board infoRight';
  margin: 2rem auto;
}

.containerTop {
  --hover-color: rgba(125, 235, 2, 0.4);
  --hover-highlight: rgba(125, 235, 2, 0.8);
}
.containerBottom {
  --hover-color: rgba(225, 10, 30, 0.4);
  --hover-highlight: rgba(225, 10, 30, 0.8);
}

.infoRight {
  grid-area: infoRight;
}
.infoLeft {
  grid-area: infoLeft;
}
.board {
  --board-grid: repeat(3, minmax(200px, 1fr));
  --board-grid-gap: 1rem;
  display: grid;
  grid-area: board;
  grid-column-gap: var(--board-grid-gap);
  grid-template-columns: var(--board-grid);
  max-width: 600px;
  width: 100%;
}

.board.disabledBoard {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

.row {
  display: grid;
  grid-gap: var(--board-grid-gap);
  grid-template-rows: var(--board-grid);
}

.cell {
  appearance: none;
  background-color: transparent;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
}

.row:hover .cell {
  box-shadow: 0 0 0 2px var(--hover-color);
}

.cell:hover:not(:disabled) {
  box-shadow: 0 0 0 2px var(--hover-highlight);
}
.cell:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}
